[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Tools for embedded linux based on raspberry
[access "refs/*"]
	owner = group user/fpalarmini
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/fpalarmini
	label-Verified = -1..+1 group user/fpalarmini
	push = group user/fpalarmini
	read = group user/fpalarmini
	rebase = group user/fpalarmini
	removeReviewer = group user/fpalarmini
	submit = group user/fpalarmini
[access "refs/heads/*"]
	create = group user/fpalarmini
	push = +force group user/fpalarmini
	pushMerge = group user/fpalarmini
	read = group user/fpalarmini
[access "refs/tags/*"]
	push = group user/fpalarmini
	push = +force group user/fpalarmini
